pruebas/pedido.xsd

<?xml version="1.0"?>


<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="https://www.miempresa.com/pedido"
           targetNamespace="https://www.miempresa.com/pedido"
           elementFormDefault="qualified">
    <xs:element name="pedido">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ordenpedido" type="xs:string"/>
                <xs:element name="fecha" type="xs:date"/> 
                <xs:element name="id" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
